<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/default :: main-fragment(
                                                ~{:: title},
                                                ~{:: #home-main-content}
                                               )}" lang="ru">

<head>
    <title>Main</title>
</head>
<body>

<div id="home-main-content">
    <form th:action="@{/flat/register-task}" method="POST">
        Your Name: <label><input type="text" name="userName" th:value="${currentUserName}"></label>
        <br/>
        Email: <label><input type="text" name="email" th:value="${currentUserEmail}"></label>
        <br/>
        Period: <label><input type="number" name="period"/></label>
        <br/>
        <input type="submit" value="REGISTER AND RUN"/>
    </form>
</div>

</body>
</html>