<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="container login-container">
    <div align="center" class="login-form">
        <form autocomplete="off" action="#" th:action="@{/user/registration}"
              th:object="${user}" method="post" role="form">
            <h3>Sign up</h3>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="msgError"></label>
                <input type="text" class="form-control" placeholder="Your Name *" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="msgError"></label>
                <input type="email" class="form-control" placeholder="Your Email *" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="msgError"></label>
                <input type="password" class="form-control" placeholder="Your Password *" th:field="*{password}"/>
            </div>
            <div align="center" class="form-group">
                <input type="submit" class="btnSubmit" value="Sign up"/>
            </div>
            <div class="form-group">
                <a th:href="@{/user/login}">Login</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>