<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Task list</title>
</head>
<body>
<!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>Id</th>-->
        <!--<th>User name</th>-->
        <!--<th>Email</th>-->
        <!--<th>Period</th>-->
        <!--<th>Registration time</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr th:each="task : ${tasks}">-->
        <!--<td th:text="${task.id}">Id</td>-->
        <!--<td th:text="${task.userName}">User name</td>-->
        <!--<td th:text="${task.email}">Email</td>-->
        <!--<td th:text="${task.period}">Period</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
</body>
</html>