<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/default :: main-fragment(
                                                ~{:: title},
                                                ~{:: #home-main-content}
                                               )}" lang="ru">

<head>
    <title>Tasks</title>
</head>
<body>

<div id="home-main-content">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Resource name</th>
            <th>Period</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}">Id</td>
            <td th:text="${taskToResource.get(task.resourceId)}">Resource name</td>
            <td th:text="${task.period}">Period</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>